<!DOCTYPE HTML>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="/scripts/bootstrap-3.2.0-dist/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="/../stylesheets/less/admins.css">
	<script src="http://code.jquery.com/jquery-1.10.2.js"></script>
	<script src="http://code.jquery.com/ui/1.11.1/jquery-ui.js"></script>
	<title>Admin Create/Edit Test</title>
</head>
<body>            
               
<div class="container">
    <div class="row"> <!-- SECTION: QUESTION ANSWERS & OPTIONS ROW -->
        <div class="col-xs-12 formatted-div">
            <div class="row"> <!-- QUESTION ROW -->
                <div class="col-xs-12">
                    <div class="question">
                        <textarea>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem a adipisci unde iste voluptas, amet! Alias ratione optio ullam aliquam iure iste, suscipit quam perspiciatis repudiandae, natus totam earum quod!</textarea>
                    </div>
                </div>
            </div>	
            <div class="row"> <!-- ANSWERS AND OPTIONS ROW -->
                <div class="col-xs-6"> <!-- ANSWERS COLUMN -->
                    <div class="answers"> 
                        <h4>Doublec click on an answer to toggle correct/incorrect.</h4>
                        <ul id="sortable" class="answerbank">
                            <li class="ui-state-default li-answer">
                                <div class='boxed-answer'>
                                    <label class="answer">
                                        <span class="glyphicon glyphicon-sort"></span>
                                    </label>
                                    <input type='text' class="answer" value='test' id="first-answer">
                                </div>	
                            </li>
                        </ul>
                        <button id="add-answer-btn" class="boxed-answer add-answer">Add an answer</button>
                    </div> 
                </div> <!-- END ANSWERS COLUMN -->
                <div class="col-xs-6"> <!-- OPTIONS COLUMN -->
                    <div class="row">
                        <div class="options">
                            <div class="row padding15">
                                <h4>Set the test options.</h4>
                                <div class="top">
                                    <div class="col-xs-6 padded">
                                        <label>Enter Time Limit:</label><br>
                                        <label>Shuffle Answers</label>
                                    </div>
                                    <div class="col-xs-6 padded">
                                        <input type="stopwatch" class="timelimit" placeholder="00:00"> <br>
                                        <input type="checkbox">		
                                    </div>
                                </div>
                            </div>
                            <div class="row padding15">
                                <div class="bottom padded">
                                    <button class="btn btn-success">UPDATE</button>
                                    <button class="btn btn-danger">DELETE</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> <!-- END OPTIONS COLUMN -->
            </div> <!-- END ANSWERS AND OPTIONS ROW -->
        </div>
    </div> <!-- END SECTION: QUESTION ANSWERS & OPTIONS ROW -->   
</div>               
</body>