.inline {
  display: inline-block;
  text-align: right;
}
.block {
  display: block;
}
h2.test-header {
  width: 300px;
  margin: 0 auto;
  padding-top: 10px;
  display: block;
  padding-bottom: 10px;
}
.right {
  float: right;
}
div.top-bar {
  width: 600px;
  margin-left: -15px;
  background-color: black;
  color: white;
  padding-top: -10;
}
div.top-bar h2 {
  text-align: center;
}
/**{
	border: 1px solid red;
}*/
.right {
  float: right;
}
.left {
  float: left;
}
.form-control {
  border: 0px;
}
.student-details {
  background-color: green;
  border: 2px solid black;
  border-radius: 1px;
  width: 650px;
  padding-top: 10px;
  margin-left: -40px;
}
.student-details label {
  font-weight: bold;
}
.student-details p {
  font-weight: bold;
  color: yellow;
}
div.begin_btn {
  vertical-align: middle;
  margin-top: 20px;
}
.test-details {
  padding: 30px;
}
div.begin-cancel {
  margin: 0 auto;
  text-align: center;
}
div.begin-cancel button {
  margin-left: 10px;
}
div.top-details h5 {
  margin-left: 10px;
  margin-right: 10px;
}
div.test-question {
  padding: 50 auto;
  border: 1px solid black;
  height: 150px;
}
div.test-question p {
  padding: 10px;
}
div.Test-Answers ul {
  padding: 20px;
  padding-left: 20px;
  margin-left: 20px;
}
div.Test-Answers button {
  padding: 10px;
  margin-top: 70px;
}
div.results,
div.results-fail {
  text-align: center;
  margin-top: 30px;
  border: 1px solid black;
  margin: 15 auto;
}
div.results h4,
div.results-fail h4 {
  font-weight: bold;
}
div.results p.result {
  color: blue;
  font-weight: bold;
}
div.results-fail p.result-fail {
  color: red;
  font-weight: bold;
}
